/*start::global*/
.vh {
    height: 100vh;
}

body {
    /*font-family: 'Lato', sans-serif !important;*/
    font-family: 'Roboto', sans-serif !important;
    /*overflow-x: hidden;*/
    padding: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    max-width: 100%;
    background: none !important;
}

.color-blue-dark {
    color: #008993;
}

.color-blue {
    color: #00B6B9 !important;
}

.bg-blue-dark {
    background-color: #008993;
}

.bg-blue {
    background-color: #00B6B9;
}

.color-orange {
    color: #FAA42D;
}

.bg-orange {
    background-color: #FAA42D;
}

.color-green {
    color: #0E9316;
}

.color-dark {
    color: #464646;
}

.bg-green {
    background-color: #0E9316;
}

.color-blue2 {
    color: #3E546C;
}

.btn-pills-orange {
    font-size: 30px;
    color: #FAA42D;
    background: #FFF;
    border: #FAA42D 2px solid;
    border-radius: 50px;
    padding: 5px 30px;
}

.btn-pills-orange:hover {
    background: #FAA42D;
    color: #FFF;
}

.text-md {
    font-size: 20px;
}

.btn-nav {
    font-size: 20px;
    color: #FFF;
    background: #FAA42D;
    border-radius: 50px;
    padding: 0 20px;
    border: none;
}

.btn-nav:hover {
    opacity: .7;
    text-decoration: none;
}

.btn-pills-green {
    font-size: 30px;
    color: #0E9316;
    background: #FFF;
    border: #0E9316 2px solid;
    border-radius: 50px;
    padding: 5px 30px;
}

.btn-pills-green:hover {
    background: #0E9316;
    color: #FFF;
}

.btn-pills-white {
    font-size: 25px;
    color: #FAA42D;
    background: #FFF;
    border-radius: 50px;
    padding: 5px 30px;
    border: none;
}

.btn-pills-white:hover {
    opacity: .7;
}

.heading1 {
    font-size: 50px !important;
}

.heading1-icon {
    height: 70px;
    width: auto;
}

.title {
    font-size: 40px;
}

.title1 {
    font-size: 25px;
}

.text-sm {
    font-size: 16px;
}

.text-xs {
    font-size: 14px;
}

.color-gray {
    color: rgba(0, 0, 0, .5);
}

/*end::global*/

/*start::navigation*/
.logo-horizontal {
    width: 350px;
    height: auto;
    margin-top: 20px;
}

.active {
    border-bottom: #FFFFFF solid 3px;
}

.incubation-nav {
    margin-top: 30px;
    z-index: 2;
    padding-right: 100px;
    top: 0;
    position: absolute;
}

.nav-item {
    font-weight: bold;
    color: #FFF;
    padding: 0 !important;
}

.nav-item:hover {
    border-bottom: #FFFFFF 3px solid;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

/*end::navigation*/

/*start::landing*/


.landing-img-sm {
    display: none;
}

.landing-overlay {
    display: none;
}

.landing-nav-container-sm {
    display: none;
    z-index: 100;
}

.curved {
    height: 110vh !important;
    width: 60%;
}

.curved-container {
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    overflow-x: hidden !important;
    margin: 0 !important;
    max-width: 100%;
}

.landing-container {
    margin-left: 130px;

}

.landing-text-container {
    margin-top: 20vh;
}

.landing-text {
    letter-spacing: 7px !important;
}

.landing-text-sub-container {
    margin-top: 50px;
}

.landing-sub-text {
    font-size: 35px;
    line-height: 38px;
    color: #3E546C;
}

.landing-img {
    width: 100%;
    height: 100%;
}

.landing-img-space {
    width: 100%;
    height: 100%;
}

.landing-academy {
    width: 100%;
    margin: 110vh 0 0 0;
    max-width: 100vw !important;
}

.landing-space {
    width: 100%;
    margin-top: 50px;
}

.landing-academy-content {
    width: 100%;
    background-image: url("../images/landing/academy-translucent-gray-big-icon.png");
    background-size: contain;
    /*background-attachment: scroll;*/
    background-repeat: no-repeat;
    padding: 70px 100px 0 50px !important;
    background-position: center;
    max-width: 100%;
}

.landing-space-content {
    width: 100%;
    background-image: url("../images/landing/academy-translucent-gray-big-icon.png");
    background-size: contain;
    /*background-attachment: scroll;*/
    background-repeat: no-repeat;
    padding: 70px 0 0 100px !important;
    background-position: center;
}

.landing-content-text {
    font-size: 30px;
    line-height: 30px;
    color: #3E546C;
}

.orange-divider {
    background: #FAA42D;
    width: 15px;
    height: 200px;
}

.green-divider {
    background: #0E9316;
    width: 15px;
    height: 200px;
}

.latest-update-title {
    margin-top: 100px;
}

.wave1 {
    background-image: url("../images/landing/latest-updates-thumbnail-carousel-slider-bg-1.svg");
    width: 100%;
    background-size: 100% 700px;
    height: 700px;
    margin-top: 30px;
}

.wave2 {
    background-image: url("../images/landing/latest-updates-thumbnail-carousel-slider-bg-2.svg");
    width: 100%;
    background-size: 100% 700px;
    height: 700px;
    display: flex;
    align-items: center;
}

.blog-item {
    height: auto;
    width: 100%;
    border-radius: 20px;
    transition: 500ms ease-in-out;
}

.blog-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.blog-item:hover > .blog-img-overlay .blog-img-overlay-contents .blog-text {
    color: #0E9316;
}

.blog-img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    /*position: absolute;*/
    z-index: 1;
    /*padding: 0 15px !important;*/
}

.blog-img-overlay {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    /*background: rgba(0, 0, 0, .3) !important;*/
    z-index: 1000;
    /*position: absolute;*/
    /*top: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*margin: 0 15px !important;*/
    top: 0;
    margin-top: -300px;
}

.blog-img-overlay-contents {
    height: 100%;
    background: rgba(0, 0, 0, .4) !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.updates-container {
    width: 100%;
    height: 500px;
    padding: 100px 20px;
    left: 0;
    right: 0;
}

.blog-text {
    font-size: 25px;
}

.blog-text-sm {
    font-size: 20px;
    text-decoration: underline;
}

.blog-item-container {
    left: 0 !important;
    right: 0 !important;
}

/*end::landing*/

/*start::footer*/
.footer-wave1 {
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    background-image: url("../images/landing/footer-wavy-bg-01.svg");
    background-size: 100% 200px;
}

.footer-wave2 {
    background-image: url("../images/landing/footer-wavy-bg-02.svg");
    width: 100%;
    background-size: 100% auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    margin-top: 50px;
    padding: 100px 100px 80px 100px;
    background-repeat: no-repeat;
}

.dot {
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 50%;
}

.footer-header {
    font-size: 25px;
    margin-left: 10px;
}

.footer-text {
    font-size: 18px;
    color: #FFF;
    margin-left: 25px;
    line-height: 18px;
}

/*end::footer*/

/*start::academy nav*/
.nav-container {
    height: auto;
    width: 100%;
    padding: 20px 80px;
    position: static;
    background: #FFFFFF;
    z-index: 10;
}

.menu {
    width: 60px;
    height: 60px;
    display: none;
}

.menu:hover {
    cursor: pointer;
}

.academy-logo {
    height: 60px;
}

.academy-nav-item {
    font-size: 20px;
    color: #3E546C;
}

.nav-divider {
    width: 100%;
    height: 1px;
    background-color: #A9A9A9;
}

.academy-nav-item:hover {
    text-decoration: none;
    color: #FAA42D;
}

a.academy-nav-item:hover > span {
    visibility: visible;
}

a.academy-nav-item > span {
    visibility: hidden;;
}

.academy-nav-active-sm {
    text-decoration: none;
    color: #FAA42D;
}

.academy-nav-sm {
    z-index: 1000;
    width: 100%;
    background: #FFF;
    padding: 20px;
    height: 100vh;
    margin-top: -70px;
}

.incubation-nav-sm {
    z-index: 1000;
    width: 100%;
    background: #FFF;
    padding: 20px;
    height: 100vh;
}

.academy-nav-item-sm {
    font-size: 18px;
    color: #3E546C;
}

.academy-nav-item-sm:hover {
    text-decoration: none;
    color: #FAA42D;
}

.incubation-nav-item-sm {
    font-size: 18px;
    color: #3E546C;
}

.incubation-nav-item-sm:hover {
    text-decoration: none;
    color: #0c5460;
}

.incubation-nav-active-sm {
    text-decoration: none;
    color: #0c5460;
}

.close {
    height: 80px;
    width: 80px;
}

.close:hover {
    cursor: pointer;
}

/*end::academy nav*/

/*start::academy slider*/
.slider-img {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    z-index: 1;
}

.slider-overlay {
    width: 100%;
    height: calc(100vh - 100px);
    background: rgba(0, 0, 0, .4);
    z-index: 10;
    position: absolute;
    margin-top: 0;
}

.academy-landing-title {
    font-size: 35px;
    padding: 0 100px;
}

.academy-landing-title-2 {
    font-size: 35px;
    padding: 0 100px;
}

.academy-landing-sub-title {
    font-size: 20px;
    padding: 0 100px;
}

.academy-wave {
    width: 100%;
    height: 150px;
    background-image: url("../images/academy/carousel-wave-1.svg");
    background-size: 100%;
}

.academy-wave-1 {
    width: 100%;
    height: 150px;
    background-image: url("../images/academy/carousel-wave-2.svg");
    background-size: 100%;
}

.academy-overlay {
    display: none;
}

.slider-wave {
    width: 100%;
    position: absolute;
    height: calc(100vh - 100px);
    z-index: 20;
    margin-top: 0;
}

.slider-wave-content {
    width: 100%;
    height: 150px;
    margin-top: calc(100vh - 250px);
}

.slider-text-container {
    height: 200px;
    width: 100%;
    margin-top: calc(100vh - 100px);
}

.slider-control {
    padding: 5px;
    background: rgba(0, 0, 0, .7);
    color: #FFFFFF;
    border-radius: 50%;
    height: 60px;
}

.slider-control:hover {
    opacity: .7;
}

.slider-text-title {
    font-size: 45px;
}

.slider-text-sub-title {
    font-size: 38px;
}

.btn-apply {
    margin-top: -70px;
}

.btn-next:hover {
    cursor: pointer;
}

.btn-prev:hover {
    cursor: pointer;
}

/*end::academy slider*/

/*start::how*/
.how {
    padding: 20px calc(calc(100% / 12) + 15px);
    background-image: url("../images/landing/academy-translucent-gray-big-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*end::how*/

/*start::roadmap*/
.roadmap {
    padding: 20px calc(calc(100% / 12) + 15px);
}

/*end::roadmap*/

/*start::testimonial*/
.testimonial {
    padding: 20px calc(calc(100% / 12) + 15px);
}

.testimonial-img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.testimonial-slider-sm {
    display: none;
}

/*end::testimonial*/

/*start::facilitator*/
.facilitator {
    padding: 20px calc(calc(100% / 12) + 15px);
}

.facilitator-img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.social-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.social-icon:hover {
    opacity: .7;
}

/*end::facilitator*/

/*start::footer*/
.footer {
    background: #F4F4F4;
}

.footer-logo {
    height: 200px;
    width: auto;
}

/*end::footer*/

/*start::extra small devices*/
@media (max-width: 575.98px) {

}

/*end::extra small devices*/

/*start::small devices*/
/*@media (max-width: 767.98px) {
    !*start::global*!
    .title {
        font-size: 30px;
    }

    .title1 {
        font-size: 20px;
    }

    .text-sm {
        font-size: 14px;
    }

    .text-xs {
        font-size: 12px;
    }

    !*end::global*!
    !*start::academy nav*!
    .nav-container {
        height: auto;
        width: 100%;
        padding: 10px 20px;
        position: static;
        z-index: 10;
        background-color: transparent;
    }

    .academy-logo {
        height: 80px;
    }

    .academy-nav {
        display: none;
    }

    .academy-nav-item {
        font-size: 40px;
        color: #3E546C;
    }

    .academy-nav-item:hover {
        text-decoration: none;
        color: #FAA42D;
    }

    a.academy-nav-item:hover > span {
        visibility: visible;
    }

    a.academy-nav-item > span {
        visibility: hidden;;
    }

    .academy-nav-active {
        text-decoration: none;
        color: #FAA42D;
    }

    a.academy-nav-active > span {
        visibility: visible;
    }

    .menu {
        display: block;
    }

    .academy-nav-sm {
        display: inherit;
    }

    !*end::academy nav*!
    !*start::academy slider*!
    .slider-img {
        width: 100%;
        height: 500px;
        position: absolute;
        z-index: 1;
    }

    .slider-overlay {
        width: 100%;
        height: 500px;
        background: rgba(0, 0, 0, .4);
        z-index: 10;
        position: absolute;
        margin-top: 0;
    }

    .academy-landing-title {
        font-size: 20px;
        padding: 0 15px;
    }

    .academy-landing-title-2 {
        font-size: 20px;
        padding: 0 15px;
    }

    .academy-landing-sub-title {
        font-size: 18px;
        padding: 0 15px;
    }

    .academy-wave {
        height: 50px;
    }

    .academy-wave-1 {
        height: 50px;
    }

    .slider-wave {
        height: 300px;
    }

    .slider-wave-content {
        width: 100%;
        height: 150px;
        margin-top: calc(500px - 100px);
    }

    .slider-text-container {
        height: 500px;
        width: 100%;
        margin-top: calc(500px - 50px);
    }

    .slider-control {
        padding: 5px;
        height: 40px;
        width: 40px;
    }

    .slider-text-title {
        font-size: 30px;
    }

    .slider-text-sub-title {
        font-size: 25px;
    }

    .btn-apply {
        margin-top: 10px;
    }

    !*end::academy slider*!
    !*start::footer*!
    .footer-logo {
        width: 100px;
        height: auto;
    }

    .footer-img {
        height: auto;
        width: 200px;
    }

    !*end::footer*!
}*/

/*end::small devices*/

/*start::medium devices*/
@media (max-width: 991.98px) {
    /*start::global*/
    .title {
        font-size: 70px;
    }

    .title1 {
        font-size: 60px;
    }

    .title2 {
        font-size: 58px;
    }

    .text-sm {
        font-size: 50px;
    }

    .text-xs {
        font-size: 40px;
    }

    .text-md {
        font-size: 35px;
    }

    .text-md1 {
        font-size: 50px !important;
    }

    .text-md3 {
        font-size: 45px !important;
    }

    .btn-pills-orange {
        font-size: 60px;
    }

    .btn-pills-green {
        font-size: 60px;
    }

    /*end::global*/
    /*start::academy nav*/
    .nav-container {
        height: auto;
        width: 100%;
        padding: 10px 20px;
        position: static;
        z-index: 10;
        background-color: transparent;
    }

    .academy-logo {
        height: 80px;
    }

    .academy-nav {
        display: none;
    }

    .academy-nav-item-sm {
        font-size: 40px;
        color: #3E546C;
    }

    .academy-nav-item:hover {
        text-decoration: none;
        color: #FAA42D;
    }

    a.academy-nav-item:hover > span {
        visibility: visible;
    }

    a.academy-nav-item > span {
        visibility: hidden;;
    }

    .academy-nav-active {
        text-decoration: none;
        color: #FAA42D;
    }

    a.academy-nav-active > span {
        visibility: visible;
    }

    .menu {
        display: block;
    }

    .academy-nav-sm {
        display: inherit;
    }

    .academy-overlay {
        background-color: rgba(250, 164, 45, .2);
        width: 100%;
        height: 100vh;
        z-index: 100 !important;
        margin-top: -100vh;
        opacity: 1;
        position: absolute;
        display: inherit;
    }

    /*end::academy nav*/
    /*start::academy slider*/
    .slider-img {
        display: none;
    }

    /*.academy-landing-title {
        font-size: 40px;
        padding: 0 15px;
    }*/
    /*.academy-landing-title-2 {
        font-size: 20px;
        padding: 0 15px;
    }

    .academy-landing-sub-title {
        font-size: 18px;
        padding: 0 15px;
    }*/
    .academy-wave {
        height: 50px;
    }

    .academy-wave-1 {
        height: 50px;
    }

    .slider-wave {
        height: 500px;
        display: none;
    }

    .slider-wave-content {
        width: 100%;
        height: 150px;
        margin-top: calc(500px - 150px);
    }

    .slider-text-container {
        width: 100%;
        margin-top: 0;
        height: 600px;
    }

    .slider-control {
        padding: 5px;
        height: 70px;
        width: 70px;
    }

    .slider-text-title {
        font-size: 65px;
    }

    .slider-text-sub-title {
        font-size: 60px;
    }

    .btn-apply {
        margin-top: 10px;
        font-size: 50px;
    }

    .how-img {
        height: 200px;
    }

    .how-img1 {
        height: 150px;
    }

    .level-img {
        height: 160px;
    }

    .testimonial-slider {
        display: none !important;
    }

    .testimonial-slider-sm {
        display: inherit;
    }

    .testimonial-img {
        height: 400px;
        width: 400px;
    }

    .facilitator-img {
        height: 400px;
        width: 400px;
    }

    .social-icon {
        width: 120px;
        height: 120px;
    }

    /*end::academy slider*/
    /*start::footer*/
    .footer-logo {
        width: 200px;
        height: auto;
    }

    .footer-img {
        height: auto;
        width: 450px;
    }

    /*end::footer*/
    /*start::navigation*/
    .logo-horizontal {
        display: none;
    }

    .nav-item {
        display: none;
    }

    /*end::navigation*/
    /*start::landing*/
    .curved {
        display: none;
    }

    .curved-container {
        display: none;
    }

    .landing-container {
        display: none;

    }

    .landing-img-sm {
        display: inherit;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    .landing-overlay {
        background-color: rgba(0, 182, 185, .3);
        width: 100%;
        height: 100vh;
        z-index: 100 !important;
        margin-top: -100vh;
        opacity: 1;
        position: absolute;
        display: inherit;
    }

    .landing-text-sm {
        font-size: 80px;
        color: #FFF;
    }

    .landing-sub-text-sm {
        font-size: 60px;
        color: #CCC;
    }

    .landing-nav-container-sm {
        margin-top: -100vh;
        display: inherit;
    }

    .incubation-logo-sm {
        height: 120px;
    }

    .incubation-menu {
        height: 100px;
        width: 100px;
    }

    .incubation-menu:hover {
        cursor: pointer;
    }

    .landing-img {
        display: none;
    }

    .landing-img-space {
        display: none;
    }

    .landing-academy {
        width: 100%;
        margin-top: 0;
        max-width: 100vw !important;
    }

    .landing-space {
        width: 100%;
        margin-top: 50px;
    }

    .landing-academy-content {
        padding: 50px !important;
        max-width: 100%;
    }

    .landing-space-content {
        padding: 50px !important;
        max-width: 100%;
    }


    .landing-content-text {
        font-size: 55px;
        line-height: 55px;
    }

    .wave1 {
        background-image: none;
        height: auto;
        margin-top: 0;
    }

    .wave2 {
        background-image: none;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }

    .blog-item {
        height: auto;
        width: 100%;
        border-radius: 20px;
        transition: 500ms ease-in-out;
        margin-top: 100px;
    }

    .blog-item:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .blog-img {
        height: 500px;
    }

    .blog-img-overlay {
        height: 500px;
        margin-top: -500px;
    }

    .updates-container {
        height: auto;
        padding: 0 20px;
        left: 0;
        right: 0;
    }


    .latest-update-title {
        margin-top: 20px;
    }

    .heading1 {
        font-size: 80px !important;
    }

    .heading1-icon {
        height: 140px;
        width: auto;
    }

    .blog-text {
        font-size: 60px;
        line-height: 50px;
    }

    .blog-text-sm {
        font-size: 50px;
        text-decoration: underline;
    }

    /*end::landing*/
    /*start::footer*/
    .footer-wave2 {
        background-image: url("../images/landing/footer-wavy-bg-02.svg");
        width: 100%;
        background-size: cover;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 2;
        margin-top: 50px;
        padding: 100px 100px 80px 100px;
        background-repeat: no-repeat;
    }

    .incubation-footer-header {
        font-size: 80px;
    }

    .footer-header {
        font-size: 70px
    }

    .footer-text {
        font-size: 50px;
        color: #FFF;
        line-height: 50px;
    }

    /*end::footer*/
}

/*end::medium devices*/

/*start::large devices*/
@media (max-width: 1199.98px) {
    /*start::academy nav*/
    /*end::academy nav*/
}

/*end::large devices*/